.imageClass{
    width: 200px;
    height: 200px;
}

.vertical-align{
    display: flex;
    align-items: center;
}

button.btn{
    width: 70px;
    margin-left: 5px;
}

.pointerCursor{
    cursor: pointer;
}
/* .panel-heading{
    background-color: aqua;
    border-radius: 10px;
} */