<!-- <h1>{{dataFromChild}}</h1>
<H2 #h2Variable> </H2> -->

  <div class="container my-3 ">
  <div class="form-group">
    <input type="text" class="form-control" placeholder="Search By Name" [(ngModel)]="searchTerm">
  </div>
  </div>  

  <!-- <div class="form-group">
    <button class="btn btn-primary" (click)="changeEmployeeName()">Click to Update</button> 
  </div> -->




<!-- <div (click)="h2Variable.innerHTML= childComponent.employee.gender"></div> -->

  <div  *ngFor="let employee of filteredEmployees">
    <app-display-employee #childComponent (nofity)="handleNotify($event)" [employee]="employee" [searchTerm]="searchTerm" (notifyDelete)="onDeleteNotification($event)"></app-display-employee>
</div>



<!-- <button (click)="nextEmployee()" class="btn btn-primary">
  View Next Employee
</button><br><br>
<app-display-employee [employee]="employeeToDisplay"></app-display-employee> -->