<h1>{{dataFromChild}}</h1>
<H2 #h2Variable> </H2>

<!-- <div (click)="h2Variable.innerHTML= childComponent.employee.gender"></div> -->

  <div  *ngFor="let employee of employees">
    <div (click)="onClick(employee.id)" class="pointerCusor">
    <app-display-employee #childComponent (nofity)="handleNotify($event)" [employee]="employee"></app-display-employee>
  </div>
</div>

<!-- <button (click)="nextEmployee()" class="btn btn-primary">
  View Next Employee
</button><br><br>
<app-display-employee [employee]="employeeToDisplay"></app-display-employee> -->